DATABASE_URL="postgresql://postgres:password@localhost:5432/auth_db"
PORT=3000
NODE_ENV=development
JWT_ACCESS_SECRET=super-secret-access
JWT_REFRESH_SECRET=super-secret-refresh
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=30d
